@font-face {
    font-family: 'Nordea'; /*a name to be used later*/
    src: url('font/Web/NordeaSansLarge-Regular.ttf'); /*URL to font*/
}
 
body {
  margin: 0;
  padding: 0;
  font-family: Nordea;
  background-color: #FEEDE5;
  min-width: 1180px;
  font-size: 25px;
}
 
.inner-wrapper {
  width: 100%;
  margin: 0px auto;
}
 .inner-content{
  width: 90%;
  margin: 0 auto;
 }
.inner-wrapper h1 {
  color: #f0c1ae;
  text-align: center;
  font-size: 80px;
}
 
#section-who {
  margin: 0;
  padding: 0;
  background-color: #fdece4;
}
 
#section-who {
  /* background-color: #e5f2ff; */
  background-color: #fdece4;
}
 
#section-quiz {
  /* background-color: #fdece4; */
  /* background-color: #e5f2ff; */
  background-color: #ffffff;
}
 
.columns {
  overflow: hidden;
  clear: both;
}
 
.column {
  float: left;
  margin: 0 auto;
  width: 33%;
}
 
.column h2 {
  text-align: center;
  color: #0000a0;
}
 
.column img {
  margin: 0 auto;
  width: 90%;
  display: block;
}

li {
  list-style-type: none;
  margin-bottom: 25px;
}
 
canvas{
  cursor: url('pics/cursor.png'),auto;
}
